<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rhythmicmusic.mapper.LoveMusicMapper">
    <insert id="insertLoveMusic">
        insert into lovermusic (user_id, music_id) values (#{userId}, #{musicId})
    </insert>


    <select id="findLoveMusic" resultType="com.example.rhythmicmusic.model.Music">
        select * from lovermusic where user_id=#{userId} and music_id=#{musicId}
    </select>
</mapper>