<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rhythmicmusic.mapper.MusicMapper">
    <insert id="insert">
        insert into music(title, singer, time, url, userid)
        values(#{title}, #{singer}, #{time}, #{url}, #{userid})

    </insert>
    <delete id="deleteMusicById">
        delete from music where id=#{id}
    </delete>
    <select id="selectByTitleAndSinger" resultType="com.example.rhythmicmusic.model.User">
        select * from music where title = #{title} and singer=#{singer}
    </select>

    <select id="findMusicById" resultType="com.example.rhythmicmusic.model.Music">
        select * from music where id=#{id}
    </select>
</mapper>